<div class="centered-button">
	<div id="container" class="border">
		<!-- Haakonian Order -->
		<a class="species-link" href="#popup1" onclick="changeGlobal('Haakonian', '<%= species %>')">
			<div class="map-button" id="haakonian-order">
				<p>Haakonian Order</p>
			</div>
		</a>
		<!-- end Haakonian Order -->
		<!-- Ocampa -->
		<a class="species-link" href="#popup1" onclick="changeGlobal('Ocampa', '<%= species %>')">
			<div class="map-button diamond" id="ocampa">
				<p>Ocampa</p>
			</div>
		</a>
		<!-- end Ocampa -->
		<!-- Caretaker -->
		<a class="species-link" href="#popup1" onclick="changeGlobal('Nacene', '<%= species %>')">
			<div class="map-button diamond" id="nacene">
				<p>Nacene</p>
			</div>
		</a>
		<!-- end Caretaker -->
		<!-- Bioplasmic Creature -->
		<a class="species-link" href="#popup1" onclick="changeGlobal('Bioplasmic-organism', '<%= species %>')">
			<div class="map-button diamond" id="bioplasmic">
				<p>Bioplasmic Organism</p>
			</div>
		</a>
		<!-- end Bioplasmic Creature -->
		<!-- 8472 -->
		<a class="species-link" href="#popup1" onclick="changeGlobal('8472', '<%= species %>')">
			<div class="map-button diamond" id="eightfourseventwo">
				<p>Species 8472</p>
			</div>
		</a>
		<!-- end 8472 -->
		<!-- Klingons -->
		<a class="species-link" href="#popup1" onclick="changeGlobal('GOWRON', '<%= species %>')">
			<div class="map-button diamond" id="gowron">
				<p>Multi-generational Klingon Ship</p>
			</div>
		</a>
		<!-- end Klingons -->
		<!-- Vaadwaur -->
		<a class="species-link" href="#popup1" onclick="changeGlobal('Vaadwaur', '<%= species %>')">
			<div class="map-button diamond" id="vaadwaur">
				<p>Vaadwaur</p>
			</div>
		</a>
		<!-- end Vaadwaur -->
		<!-- Brunali -->
		<a class="species-link" href="#popup1" onclick="changeGlobal('Brunali', '<%= species %>')">
			<div class="map-button diamond" id="brunali">
				<p>Brunali</p>
			</div>
		</a>
		<!-- end Brunali -->
		<!-- Talaxian -->
		<a class="species-link" href="#popup1" onclick="changeGlobal('Talaxian', '<%= species %>')">
			<div class="map-button diamond" id="talaxian">
				<p>Talax</p>
			</div>
		</a>
		<!-- end Talaxian -->
		<!-- Talaxian -->
		<a class="species-link" href="#popup1" onclick="changeGlobal('Talaxian', '<%= species %>')">
			<div class="map-button diamond" id="new-talax">
				<p>New Talax</p>
			</div>
		</a>
		<!-- end Talaxian -->
		<!-- Vori -->
		<a class="species-link" href="#popup1" onclick="changeGlobal('Vori', '<%= species %>')">
			<div class="map-button diamond" id="vori">
				<p>Vori</p>
			</div>
		</a>
		<!-- end Vori -->
		<!-- Kazon -->
		<a class="species-link" href="#popup1" onclick="changeGlobal('Kazon', '<%= species %>')">
			<div class="map-button" id="kazon">
				<p>Kazon</p>
			</div>
		</a>
		<!-- end Kazon -->
		<!-- The Vidiian -->
		<a class="species-link" href="#popup1" onclick="changeGlobal('Vidiian', '<%= species %>')">
			<div class="map-button" id="vidiian">
				<p>Vidiian Sodality</p>
			</div>
		</a>
		<!-- end Vidiian -->
		<!-- The Borg -->
		<a class="species-link" href="#popup1" onclick="changeGlobal('Borg','<%= species %>')">
			<div class="map-button" id="the-borg">
				<p>Borg Collective</p>
			</div>
		</a>
		<!-- end The Borg -->
		<!-- The Swarm -->
		<a class="species-link" href="#popup1" onclick="changeGlobal('Swarm', '<%= species %>')">
			<div class="map-button" id="swarm">
				<p>The Swarm</p>
			</div>
		</a>
		<!-- end The Swarm -->
		<!-- Bomar  -->
		<a class="species-link" href="#popup1" onclick="changeGlobal('Bomar', '<%= species %>')">
			<div class="map-button" id="bomar">
				<p>B'omar Sovereignty</p>
			</div>
		</a>
		<!-- end B'omar -->
		<!-- Sakari -->
		<a class="species-link" href="#popup1" onclick="changeGlobal('Sakari', '<%= species %>')">
			<div class="map-button" id="sakari">
				<p>Sakari</p>
			</div>
		</a>
		<!-- end Sakari -->
		<!-- Zahl -->
		<a class="species-link" href="#popup1" onclick="changeGlobal('Zahl', '<%= species %>')">
			<div class="map-button" id="zahl">
				<p>Zahl Colonies</p>
			</div>
		</a>
		<!-- end Zahl -->
		<!-- Krenim -->
		<a class="species-link" href="#popup1" onclick="changeGlobal('Krenim', '<%= species %>')">
			<div class="map-button" id="krenim">
				<p>Krenim Emperium</p>
			</div>
		</a>
		<!-- end Krenim -->
		<!-- Rilnar-->
		<a class="species-link" href="#popup1" onclick="changeGlobal('Rilnar', '<%= species %>')">
			<div class="map-button" id="rilnar">
				<p>Rilnar Sect</p>
			</div>
		</a>
		<!-- end Rilnar -->
		<!-- The Void-->
		<a class="species-link" href="#popup1" onclick="changeGlobal('Void', '<%= species %>')">
			<div class="map-button" id="void">
				<p>The Void</p>
			</div>
		</a>
		<!-- end The Void -->
		<!-- Hirogen-->
		<a class="species-link" href="#popup1" onclick="changeGlobal('Hirogen', '<%= species %>')">
			<div class="map-button" id="hirogen">
				<p>Hirogen</p>
			</div>
		</a>
		<!-- end Hirogen -->
		<!-- Malon-->
		<a class="species-link" href="#popup1" onclick="changeGlobal('Malon', '<%= species %>')">
			<div class="map-button" id="malon">
				<p>Malon</p>
			</div>
		</a>
		<!-- end Malon -->
		<!-- Devore Imperium-->
		<a class="species-link" href="#popup1" onclick="changeGlobal('Devore', '<%= species %>')">
			<div class="map-button" id="devore">
				<p>Devore Imperium</p>
			</div>
		</a>
		<!-- end Devore Imperium -->
		<!-- Brenari-->
		<a class="species-link" href="#popup1" onclick="changeGlobal('Brenari', '<%= species %>')">
			<div class="map-button" id="brenari">
				<p>Brenari</p>
			</div>
		</a>
		<!-- end Brenari -->
		<!-- The Heirarchy-->
		<a class="species-link" href="#popup1" onclick="changeGlobal('Overlooker', '<%= species %>')">
			<div class="map-button" id="hierarchy">
				<p>The Hierarchy</p>
			</div>
		</a>
		<!-- end The Heirarchy -->
		<!-- Quarren Workforce-->
		<a class="species-link" href="#popup1" onclick="changeGlobal('Quarren', '<%= species %>')">
			<div class="map-button" id="quarren">
				<p>Quarren<br>Workforce</p>
			</div>
		</a>
		<!-- end Quarren Workforce -->
		<div id="popup1" class="overlay">
			<div class="popup">
				<div class="lcars-text-bar"> <span id="popUpHeading"></span> </div>
				<div class="pics"> <img src="" alt="species-image" id="popUpImage" class="border pics">
					<p class="caption"> Homeworld: <span id="popUpHomeworld"></span> </p>
				</div>
				<div class="buttons centered-button" id="pop-up-buttons"> 
					<a href="" class="sunflower two-rows small-button" id="popUpLink">View Full Info<br>& Encounters</a> 
					<a href="#" class="bluey two-rows" id="returnLink">Return<br>to Map</a> 
				</div>
			</div>
		</div>
	</div>
</div>