
<div id="container">			
	<img src="/img/starsbg.jpg" alt="" id="map-background">

    
     <!-- Haakonian Order -->
     <a class="species-link" href="#popup1" onclick="changeGlobal('Haakonian', '<%= JSON.stringify(species) %>')">        <div class="map-button" id="haakonian-order">
            <p>Haakonian Order</p>
       </div>
   </a>
    <!-- end Haakonian Order -->
    <!-- Ocampa -->
    <a class="species-link" href="#popup1" onclick="changeGlobal('Ocampa', '<%= JSON.stringify(species) %>')">        
        <div class="map-button diamond" id="ocampa">
            <p>Ocampa</p>
        </div>
   </a>
    <!-- end Ocampa -->
    <!-- Caretaker -->
    <a class="species-link" href="#popup1" onclick="changeGlobal('Caretaker', '<%= JSON.stringify(species) %>')">        
        <div class="map-button diamond" id="caretaker">
            <p>Caretaker</p>
        </div>
    </a>
    <!-- end Caretaker -->
    <!-- Bioplasmic Creature -->
    <a class="species-link" href="#popup1" onclick="changeGlobal('Bioplasmic-Creature', '<%= JSON.stringify(species) %>')">        
        <div class="map-button diamond" id="bioplasmic">
            <p>Bioplasmic Creature</p>
        </div>
     </a>
    <!-- end Bioplasmic Creature -->
    <!-- Vaadwaur -->
    <a class="species-link" href="#popup1" onclick="changeGlobal('Vaadwaur', '<%= JSON.stringify(species) %>')">        
        <div class="map-button diamond" id="vaadwaur">
            <p>Vaadwaur Homeworld</p>
        </div>
     </a>
    <!-- end Vaadwaur -->
    <!-- Brunali -->
    <a class="species-link" href="#popup1" onclick="changeGlobal('Brunali', '<%= JSON.stringify(species) %>')">        
        <div class="map-button diamond" id="brunali">
            <p>Brunali</p>
        </div>
     </a>
    <!-- end Brunali -->
    <!-- Kazon -->
    <a class="species-link" href="#popup1" onclick="changeGlobal('Kazon', '<%= JSON.stringify(species) %>')">
        <div class="map-button" id="kazon">
            <p>Kazon</p>
        </div>
    </a>
    <!-- end Kazon -->
    <!-- The Vidiian -->
    <a class="species-link" href="#popup1" onclick="changeGlobal('Vidiian', '<%= JSON.stringify(species) %>')">
        <div class="map-button" id="vidiian">
            <p>Vidiian Sodality</p>
        </div>
    </a>
	<!-- end Vidiian -->
    <!-- The Borg -->
    <a class="species-link" href="#popup1" onclick="changeGlobal('Borg','<%= JSON.stringify(species) %> ')">
        <div class="map-button" id="the-borg">
            <p>Borg Collective</p>
        </div>
    </a>
	<!-- end The Borg -->
    <!-- The Swarm -->
    <a class="species-link" href="#popup1" onclick="changeGlobal('Swarm', '<%= JSON.stringify(species) %>')">
        <div class="map-button" id="swarm">
            <p>The Swarm</p>
        </div>
    </a>
	<!-- end The Swarm -->
    <!-- Vori -->
    <a class="species-link" href="#popup1" onclick="changeGlobal('Vori', '<%= JSON.stringify(species) %>')">
        <div class="map-button" id="vori">
            <p>Vori</p>
        </div>
    </a>
	<!-- end Vori -->
    <!-- B'omar -->
    <a class="species-link" href="#popup1" onclick="changeGlobal('Bomar', '<%= JSON.stringify(species) %>')">
        <div class="map-button" id="bomar">
            <p>B'omar</p>
        </div>
    </a>
    <!-- end B'omar -->
    <!-- Zahl -->
    <a class="species-link" href="#popup1" onclick="changeGlobal('Zahl', '<%= JSON.stringify(species) %>')">
        <div class="map-button" id="zahl">
            <p>Zahl Colonies</p>
        </div>
    </a>
    <!-- end Zahl -->
    <!-- Krenim -->
    <a class="species-link" href="#popup1" onclick="changeGlobal('Krenim', '<%= JSON.stringify(species) %>')">
        <div class="map-button" id="krenim">
            <p>Krenim Emperium</p>
        </div>
    </a>
    <!-- end Krenim -->
    <!-- Rilnar-->
    <a class="species-link" href="#popup1" onclick="changeGlobal('Rilnar', '<%= JSON.stringify(species) %>')">
        <div class="map-button" id="rilnar">
            <p>Rilnar Sect</p>
        </div>
    </a>
    <!-- end Rilnar -->
    <!-- Hirogen-->
    <a class="species-link" href="#popup1" onclick="changeGlobal('Hirogen', '<%= JSON.stringify(species) %>')">
        <div class="map-button" id="hirogen">
            <p>Hirogen</p>
        </div>
    </a>
    <!-- end Hirogen -->
    <!-- Malon-->
    <a class="species-link" href="#popup1" onclick="changeGlobal('Malon', '<%= JSON.stringify(species) %>')">
        <div class="map-button" id="malon">
            <p>Malon</p>
        </div>
    </a>
    <!-- end Malon -->
    <!-- The Void-->
    <a class="species-link" href="#popup1" onclick="changeGlobal('Void', '<%= JSON.stringify(species) %>')">
        <div class="map-button" id="void">
            <p>The Void</p>
        </div>
    </a>
    <!-- end The Void -->
    <!-- Devore Imperium-->
    <a class="species-link" href="#popup1" onclick="changeGlobal('Devore', '<%= JSON.stringify(species) %>')">
        <div class="map-button" id="devore">
            <p>Devore Imperium</p>
        </div>
    </a>
    <!-- end Devore Imperium -->
    <!-- Brenari-->
    <a class="species-link" href="#popup1" onclick="changeGlobal('Brenari', '<%= JSON.stringify(species) %>')">
        <div class="map-button" id="Brenari">
            <p>Brenari</p>
        </div>
    </a>
    <!-- end Brenari -->
    <!-- The Heirarchy-->
    <a class="species-link" href="#popup1" onclick="changeGlobal('The-Heirarchy', '<%= JSON.stringify(species) %>')">
        <div class="map-button" id="heirarchy">
            <p>The Heirarchy</p>
        </div>
    </a>
    <!-- end The Heirarchy -->
    <!-- Quarran Workforce-->
    <a class="species-link" href="#popup1" onclick="changeGlobal('Quarran', '<%= JSON.stringify(species) %>')">
        <div class="map-button" id="quarran">
            <p>Quarran Workforce</p>
        </div>
    </a>
    <!-- end Quarran Workforce -->


	<div id="popup1" class="overlay">
		<div class="popup">
			<h2 id="popUpHeading"></h2>
			<a class="close" href="#">&times;</a>
			<div class="inner-content">
    
            
    
                <div class="lcars-text-bar">
                    <span>Species Image</span>
                </div>
                <img src="" alt="species-image" id="popUpImage">
    
                <div class="lcars-text-bar">
                    <span >Homeworld:</span>			
                </div>
                <p id="popUpHomeworld"></p>

                <div class="buttons">
                    <a href="" class="bluey" id="popUpLink">View Full Information</a>
                </div>

			</div>
		</div>
	</div>
</div>